.main{
    display: flex;
    justify-content: center;
    width:100vw;
    height:100vh;
}

.todo{
    margin-top: 100px;
    position: relative;
    width: 400px;
    height: 80%;
    border: 2px solid gray;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.add{
    padding:0px 15px;
}


.task{
    padding: 15px;
    background-color: antiquewhite;
}

.tasks{
    padding: 0px 20px;
}


.addtask{
    position: absolute;
    left: 30px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px dashed black;
    display:none;
    width:300px;
    height: 200px;
    background-color: aqua;
}

.tt{
    padding:2px 20px ;
}

#tasks{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;

    
}
