.main{
    display: flex;
    justify-content: center;
    width:100vw;
    height:100vh;
     font-family: "Roboto", sans-serif;
    
}

.todo{
    margin-top: 100px;
    position: relative;
    width: 450px;
    height: 80%;
    border: 2px solid gray;
    background-color: #F6F6F6;
    border-radius: 20px;
    overflow: hidden;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */

}

nav>h3{
    font-size:30px;
   
}

.add{
    padding:0px 15px;
}

.add>button{
    padding: 10px;
    border-radius: 10px;
    /* background-color: rgb(139, 236, 139); */
    background-color:#A374D5;
    color: white;
    font-size: 15px;
    font-weight: 600;
border:2px solid #6F38C5;
    
}

.add>button:hover{
    box-shadow: 2px 5px 10px #BE97DC;
    
}

.task{
    padding: 15px;
    background-color: #F6F6F6;
}

.tasks{
    padding: 0px 20px;
}


.addtask{
    position: absolute;
    left: 50px;
    top:140px;
    border-radius: 20px;;
    padding: 10px;
    box-sizing: border-box;
    border: 1px dashed black;
    display:none;
    width:350px;
    height: 300px;
    /* background-color:#FFC7C7; */
    background-color:#87C4FF;
}

.check {

  width: 25px;
  height: 25px;

}

.check:hover{
    box-shadow: 2px 5px 10px gray;
}


.task{
    font-size: 15px;
    color: #00425A;
    /* color:white; */
    font-weight: 500;
}

.tt1{
    padding:5px 10px ;
    border:2px solid #368C72;
    /* background-color: #7ECBA1; */
    background-color: #B0D9B1;
    min-width: 180px;
    font-size: 15px;
    border-radius: 10px;
    max-width:300px;
    box-shadow: 2px 5px 10px #B0D9B1;
}
.tt2{
    font-size: 15px;
    border: 2px solid;
    padding: 5px 10px;  
    border-radius:10px;
    border:2px solid #7579E7;
    background-color: #9AB3F5;
    box-shadow: 2px 5px 10px #A3D8F4;

}

.tt3{
     font-size: 12px;
    border: 2px solid;
    padding: 5px 10px;  
    border-radius:10px;
    border:2px solid #87C4FF;
    background-color: #91F3FC;
    box-shadow: 2px 5px 10px #A3D8F4;
}

.tasks{
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    gap:10px;
    flex-direction: column;
    padding:10px 10px;
}

.tasks>div{
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}



.title,.date,.desc  {
    padding:10px 20px;
    overflow: hidden;
}


.submit{
    padding: 5px 10px;
    margin-left: 20px;
    border-radius: 20px;
} 

.title>input{
     padding: 2px 10px;
     border-radius: 10px; 
     overflow: hidden;  
}

.date>input{
      padding: 2px 10px;
     border-radius: 10px; 
     overflow: hidden;  
}

.desc>textarea{
      padding: 10px 10px;
     border-radius: 10px; 
     overflow: hidden;

}

