.main{
    display: flex;
    justify-content: center;
    width:100vw;
    height:100vh;
}

.todo{
    margin-top: 100px;
    width: 400px;
    height: 80%;
    border: 2px solid gray;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.add{
    padding:0px 15px;
}


.task{
    padding: 15px;
    background-color: antiquewhite;
}

.tasks{
    padding: 0px 20px;
}

